In [1]:
import pandas as pd

In [54]:
df = pd.read_csv("data/raw/pitchdata.csv", sep=',')

In [55]:
df.head(20)

,GameId,PitcherId,HitterId,PitcherSide,HitterSide,PrimaryEvent,PitcherTeamId,HitterTeamId,PA,AB,H,2B,3B,HR,TB,BB,SF,HBP
0,2016/09/15/clemlb-chamlb-1,448306,424825,R,L,GO,145,114,1,1,0,0,0,0,0,0,0,0
1,2016/09/15/clemlb-chamlb-1,448306,543401,R,L,BHA,145,114,0,0,0,0,0,0,0,0,0,0
2,2016/09/15/clemlb-chamlb-1,448306,543401,R,L,GO,145,114,1,1,0,0,0,0,0,0,0,0
3,2016/09/15/clemlb-chamlb-1,448306,608070,R,L,FO,145,114,1,1,0,0,0,0,0,0,0,0
4,2016/09/15/clemlb-chamlb-1,605182,594809,R,L,KS,114,145,1,1,0,0,0,0,0,0,0,0
5,2016/09/15/clemlb-chamlb-1,605182,641313,R,R,GO,114,145,1,1,0,0,0,0,0,0,0,0
6,2016/09/15/clemlb-chamlb-1,605182,466320,R,L,S,114,145,1,1,1,0,0,0,1,0,0,0
7,2016/09/15/clemlb-chamlb-1,605182,547989,R,R,S,114,145,1,1,1,0,0,0,1,0,0,0
8,2016/09/15/clemlb-chamlb-1,605182,453943,R,R,BB,114,145,1,0,0,0,0,0,0,1,0,0
9,2016/09/15/clemlb-chamlb-1,605182,553882,R,L,FO,114,145,1,1,0,0,0,0,0,0,0,0
10,2016/09/15/clemlb-chamlb-1,448306,435063,R,R,D,145,114,1,1,1,1,0,0,2,0,0,0
11,2016/09/15/clemlb-chamlb-1,448306,467793,R,L,GO,145,114,1,1,0,0,0,0,0,0,0,0
12,2016/09/15/clemlb-chamlb-1,448306,571980,R,L,KC,145,114,1,1,0,0,0,0,0,0,0,0
13,2016/09/15/clemlb-chamlb-1,448306,501659,R,L,GO,145,114,1,1,0,0,0,0,0,0,0,0
14,2016/09/15/clemlb-chamlb-1,605182,541645,R,R,KS,114,145,1,1,0,0,0,0,0,0,0,0
15,2016/09/15/clemlb-chamlb-1,605182,570560,R,L,FO,114,145,1,1,0,0,0,0,0,0,0,0
16,2016/09/15/clemlb-chamlb-1,605182,573135,R,R,GO,114,145,1,1,0,0,0,0,0,0,0,0
17,2016/09/15/clemlb-chamlb-1,448306,547379,R,R,KC,145,114,1,1,0,0,0,0,0,0,0,0
18,2016/09/15/clemlb-chamlb-1,448306,492841,R,L,S,145,114,1,1,1,0,0,0,1,0,0,0
19,2016/09/15/clemlb-chamlb-1,448306,424825,R,L,BB,145,114,1,0,0,0,0,0,0,1,0,0

In [57]:
df['AVG'] =  df['H']/df['AB']

In [58]:
df['SLG'] = df['TB']/df['AB']

In [59]:
df['OBP'] = (df['H']+df['BB']+df['HBP']) / (df['AB']+df['BB']+df['SF']+df['HBP'])

In [60]:
df['OPS'] = df['OBP']+df['SLG']

In [64]:
df = df.fillna(0)

In [242]:
df.head()

,GameId,PitcherId,HitterId,PitcherSide,HitterSide,PrimaryEvent,PitcherTeamId,HitterTeamId,PA,AB,...,3B,HR,TB,BB,SF,HBP,AVG,SLG,OBP,OPS
0,2016/09/15/clemlb-chamlb-1,448306,424825,R,L,GO,145,114,1,1,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,2016/09/15/clemlb-chamlb-1,448306,543401,R,L,BHA,145,114,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
2,2016/09/15/clemlb-chamlb-1,448306,543401,R,L,GO,145,114,1,1,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
3,2016/09/15/clemlb-chamlb-1,448306,608070,R,L,FO,145,114,1,1,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
4,2016/09/15/clemlb-chamlb-1,605182,594809,R,L,KS,114,145,1,1,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0

In [12]:
def fPitcher(row):
    if row['HitterSide']=='L':
        val = 'vs LHH'
    elif row['HitterSide']=='R':
        val = 'vs RHH'   
    return val

In [72]:
def fHitter(row):
    if row['PitcherSide']=='L':
        val = 'vs LHP'
    elif row['PitcherSide']=='R':
        val = 'vs RHP'   
    return val

In [212]:
def createDF(dfGiven, value1,value2,function):
    dfTemp = dfGiven.filter([value1,value2,'PA','AVG','SLG','OBP','OPS'], axis=1)
    dfTemp['Split'] = dfTemp.apply(function,axis=1)
    dfTemp['SubjectId'] = dfTemp[value1]
    dfTemp = dfTemp.filter(['SubjectId','Split','Subject','PA','AVG','SLG','OBP','OPS'],axis=1)
    return dfTemp

In [224]:
def getCleanedDF(dfNew, stringVal):
    dfTemp = checkPA(dfNew)
    dfTeam = pd.merge(dfNew,dfTemp, on="SubjectId", how="right")
    dfTeam = dfTeam.filter(["SubjectId","Split","AVG","SLG","OBP","OPS"], axis=1)
    dfTeam = dfTeam.groupby(["SubjectId","Split"]).mean()
    dfTeam['Subject'] = stringVal
    dfTeam = dfTeam.reset_index()
    dfTeam = pd.melt(dfTeam, id_vars=["SubjectId", "Split","Subject"], var_name="Stat", value_name="Value")
    return dfTeam.round(3)

In [225]:
def checkPA(dfNew):
    dfTemp = dfNew.filter(['SubjectId','PA'], axis=1)
    dfTemp = dfTemp.groupby('SubjectId').sum()
    dfTemp = dfTemp[dfTemp['PA'] >= 25]
    dfTemp['SubjectId'] = dfTemp.index
    return dfTemp

In [222]:
df1 = createDF(df,'PitcherTeamId','HitterSide',fPitcher)
dfPitcherTeamId = getCleanedDF(df1, 'PitcherTeamId')

In [223]:
df2 = createDF(df,'HitterTeamId','PitcherSide',fHitter)
dfHitterTeamId = getCleanedDF(df2,'HitterTeamId')

In [226]:
df3 = createDF(df,'PitcherId','HitterSide',fPitcher)
dfHitterId = getCleanedDF(df3,'HitterId')

In [227]:
df4 = createDF(df,'HitterId','PitcherSide',fHitter)
dfHitterId = getCleanedDF(df4,'PitcherId')

In [246]:
dfPitcherId.tail()

      SubjectId   Split    Subject Stat  Value
2387     656186  vs RHH  PitcherId  OPS  0.524
2388     656546  vs LHH  PitcherId  OPS  0.500
2389     656546  vs RHH  PitcherId  OPS  0.286
2390     664641  vs LHH  PitcherId  OPS  0.500
2391     664641  vs RHH  PitcherId  OPS  0.561

In [238]:
dfTempMerge = pd.concat([dfPitcherTeamId,dfHitterTeamId], ignore_index=True)

In [239]:
dfTempMerge.shape

(480, 5)

In [247]:
def allMerge(df1,df2,df3,df4):
    dfConct = pd.concat([dfPitcherTeamId,dfHitterTeamId, dfPitcherId, dfHitterId], ignore_index=True)
    return dfConct

In [249]:
dfCombine = allMerge(dfPitcherTeamId,dfHitterTeamId, dfPitcherId, dfHitterId)

In [251]:
dfFinal = dfCombine.filter(["SubjectId","Stat","Split","Subject","Value"], axis=1)

In [252]:
dfFinal.head()

   SubjectId Stat   Split        Subject  Value
0        108  AVG  vs LHH  PitcherTeamId  0.191
1        108  AVG  vs RHH  PitcherTeamId  0.221
2        109  AVG  vs LHH  PitcherTeamId  0.190
3        109  AVG  vs RHH  PitcherTeamId  0.191
4        110  AVG  vs LHH  PitcherTeamId  0.179

In [253]:
dfFinal = dfFinal.sort_values(["SubjectId","Stat","Split","Subject"])

In [254]:
dfFinal.head()

     SubjectId Stat   Split        Subject  Value
0          108  AVG  vs LHH  PitcherTeamId  0.191
240        108  AVG  vs LHP   HitterTeamId  0.197
1          108  AVG  vs RHH  PitcherTeamId  0.221
241        108  AVG  vs RHP   HitterTeamId  0.199
120        108  OBP  vs LHH  PitcherTeamId  0.261